<article class="card">
  {{THUMBNAIL}}
  <div class="card-body">
    <h2><a href="customizations/{{SLUG}}/index.html">{{TITLE}}</a></h2>
    <p class="card-meta"><time datetime="{{DATE}}">{{DATE_FORMATTED}}</time>{{TAGS}}</p>
    <p>{{SUMMARY}}</p>
  </div>
</article>
